<?xml version="1.0"?>
<beans xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-2.5.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:tx="http://www.springframework.org/schema/tx">

    <tx:annotation-driven transaction-manager="transactionManager"/>

    <context:component-scan base-package="by.bsu"/>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location" value="classpath:database-config.properties"/>
    </bean>

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="${db.driver}"/>
        <property name="url" value="${db.url}"/>
        <property name="username" value="${db.username}"/>
        <property name="password" value="${db.password}"/>
    </bean>

    <bean class="com.github.springtestdbunit.bean.DatabaseConfigBean" id="dbUnitDatabaseConfig">
        <property name="datatypeFactory">
            <bean class="org.dbunit.ext.oracle.OracleDataTypeFactory"/>
        </property>
    </bean>

    <bean class="com.github.springtestdbunit.bean.DatabaseDataSourceConnectionFactoryBean"
          id="dbUnitDatabaseConnection">
        <property name="databaseConfig" ref="dbUnitDatabaseConfig"/>
        <property name="dataSource" ref="dataSource"/>
        <property name="schema" value="ROOT"/>
    </bean>

</beans>